*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --red: #e91e23;
  --blue: #02b2e7;
  --yellow: #fabc16;
  --myMessage: #c7e4fa;
  --friendsMessage: #faebd7;
}
@font-face {
  font-family: "Gabriel Weiss' Friends Font";
  src: url("//db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.eot");
  src: url("//db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/0b7d8a39b62b28cf0cfe3cea90b8baa3.svg#Gabriel Weiss' Friends Font")
      format("svg");
}
body {
  position: relative;
}
.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chat {
  padding-bottom: 1rem;
}
.friends {
  visibility: hidden;
  height: 200px;
  top: 0;
  position: sticky;
  margin-bottom: 1.2rem;
  z-index: 1;
}
.loud {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
#okay {
  background: var(--blue);
  border-radius: 4px;
  border: none;
  font-weight: 600;
  width: 5rem;
  margin: 1.5rem auto;
  padding: 0.4rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#okay:hover {
  transform: translate(0, 0.2em);
}
#ross {
  width: 350px;
  border: 4px solid var(--yellow);
}
#loud {
  text-align: center;
  margin: 3rem auto;
  font-size: 1.2rem;
}
.visible {
  visibility: visible;
}

.message {
  margin: 0.3rem;
  padding: 8px 15px;
  height: auto;
  position: relative;
  background: var(--myMessage);
  border-radius: 8px;
  word-break: keep-all;
}
.fr {
  background: var(--friendsMessage);
}
.message:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 8px solid var(--myMessage);
  border-right: 8px solid transparent;
  border-top: 8px solid var(--myMessage);
  border-bottom: 8px solid transparent;
  right: -10px;
  top: 3px;
}
.fr:before {
  border-left: 8px solid transparent;
  border-right: 8px solid var(--friendsMessage);
  border-top: 8px solid var(--friendsMessage);
  border-bottom: 8px solid transparent;
  left: -10px;
  top: 3px;
}
.nom {
  background: #fff;
}

.congratulation {
  font-family: "Gabriel Weiss' Friends Font";
  font-size: 30px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.circle {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  animation: zoom-in-zoom-out 3s ease infinite;
  vertical-align: 20%;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.4, 1.4);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 420px) {
  .congratulation {
    font-size: 16px;
  }
  .circle {
    height: 6px;
    width: 6px;
  }
  #loud {
    font-size: 25px;
  }
  .oops {
    width: 260px;
  }
}
